body {
    padding: 3% 10% 3% 10%;
    background-color: #fefee1;
    text-align: center;
    
}

.beeDayDiv {
    
}

.b {
    color:hsl(48, 69%, 50%);
}
.e {
    color:hsl(48, 69%, 50%);
}

.factors {
    margin-bottom: 0px;
}
.dying {
    
}

h1 {
    
      
}

h2 {
    
}

ul {
    display: inline-block;
    text-align: start;
}

.b2 {
    color:hsl(48, 69%, 50%);
}
.e2 {
    color:hsl(48, 69%, 50%);
}



.bybee {
    display: block;
    margin: auto;
    height: 20vw; 
}

.honeycomb {
    display: block;
    margin: auto;
    height: 20vw;
}

